body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  background-color: #161616;
}
* {
  box-sizing: border-box;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.MuiButton-root {
  font-weight: 500 !important;
  letter-spacing: 1px;
}
